body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --white: #fff;
  --green: #3ba639;
  --lightgreen: #aaffa9;
  --blue: #047df3;
  --mediumblue: #70b0ef;
  --lightblue: #a6cdf3;
  --grey: #808080;
  --lightgrey: #cecece;
  --red: #ff0000;
  --lightred: #ef7985;
  --gap: 1rem;
}


